# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# folders
data_transformed/*